#main-div {
  text-align: center;
  background-color: aquamarine;
  height: 350px;
  margin: 0px auto 0px auto;
  width: 30%;
}
body {
  /* text-align: justify; */
}
/* .btn {
  background-color: brown;
} */
:hover.btn {
  cursor: pointer;
  background-color: royalblue;
}
:hover#btnHover {
  background-color: royalblue;
  cursor: pointer;
}
li {
  list-style: square;
}
